body {
    background-color: #15171a;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "form1 content1"
    "form2 content2"
    "totals totals";
}

.form1 {
    grid-area: form1;
}

.form2 {
    grid-area: form2;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.totals {
    grid-area: totals;
}

.table-responsive {
    max-height: 270px;
}

.header {
    position: sticky;
    top: 0;
}

.auth_field {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;


}


